.user-screen {
  background-color: #F3F0FF;
  font-family: 'Arial', sans-serif;
  min-height: 98.8vh;
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  &__header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right, #5F33E1, #3B0086);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.50);
    border-radius: 8px 8px 0 0;
    
    &-title {
      margin: 0;
      color: #fff;
      font-size: 2em;
    }
  }

  &__form {
    width: 400px;
    margin: 10vh auto; 
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
    font-family: 'Arial', sans-serif;
    margin-top: auto;
    margin-bottom: auto;

    .grecaptcha-badge {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }

    &-title {
      color: #333;
      margin-bottom: 20px;
    }

    &-input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 30px;
      box-sizing: border-box;
      font-size: 16px;

      &:focus {
        outline: none;
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
    }

    &-button {
      width: 100%;
      background-color: #5F33E1;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      font-size: 16px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #4A23B7;
      }

      &:active {
        transform: scale(0.90);
      }
    }

    &-error {
      color: #d9534f;
      font-size: 14px;
      margin-top: 5px;
      text-align: center;
    }

    &-link {
      margin-top: 15px;
      text-align: center;

      &-link {
        color: #007BFF;
        text-decoration: none;

        &:hover {
          text-decoration: underline; 
          color: #0056b3; 
        }
      }
    }

    &-success {
      color: #27ae60;
      text-align: center;
      font-size: 14px;
      margin-top: 10px;
    }
  }

  &__loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    &-text {
      margin-top: 10px;
      font-style: italic;
      color: #888;
    }
  }

  &__loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 20px auto 0;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}