.home {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    @media (max-width: 860px) {
      display: block;
    }
  }

  &__user-section {
    width: 15%;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;

    @media (max-width: 860px) {
      width: auto;
      margin: 0 0 20px 0;
      flex-direction: column;
      align-items: flex-start;
    }

    &-avatar {
      margin-right: 20px;

      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }

      @media (max-width: 860px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    &-info {
      p {
        margin: 0 0 10px;
      }

      button {
        background-color: #5f33e1;
        color: white;
        border: none;
        padding: 8px 15px;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #4a23b7;
        }
      }
    }
  }

  &__projects {
    width: 85%;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto;

    @media (max-width: 860px) {
      width: auto;
    }

    &-title {
      margin-top: 0;
      margin-bottom: 15px;
      color: #5f33e1;
      font-size: 2.5em;
    }

    &-add-button {
      margin-bottom: 20px;

      a {
        text-decoration: none;

        button {
          background-color: #28a745;
          color: white;
          border: none;
          padding: 8px 15px;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #218838;
          }
        }
      }
    }

    &-loading,
    &-error,
    &-empty {
      text-align: center;
    }
  }

  &__error {
    color: #dc3545;
    margin-top: 20px;
    text-align: center;
  }

  &__projects-empty {
    font-style: italic;
    color: #ccc;
  }
}
